:root{
   --color1:#223773;
   --color2:#048ABF;
   --color3:#049DBF;
   --color4:#4EBFD9;
   --color5:#F2B705;
   --titulos: 'Fredoka One', cursive;
   --texto: 'Josefin Slab', serif;
}

body {
   margin: 0;
   background-color: var(--color1);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

nav{
   display: flex;
   text-align: center;
   background-color: #000;
   width: 100%;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 40px;
}

.titles{
   margin: 0 ;
   font-family: var(--titulos);
   font-size: 50px;
   color: #fff;
}

.searchbar{
   width: 25%;
   height: 30px;
   border: none;
   border-radius: 20px;
   background-color: var(--color2);
   text-align: center;
   font-family: var(--texto);
   font-size: 20px;
   font-weight: 900;
   color: #fff;
   transition:.25s all ease;
}

.searchbar:hover{
   color: #000;
}
.searchbar:focus{
   outline: none;
}

.searchbar::placeholder{
   color: #fff;
   text-align: center;
   font-family: var(--titulos);
   font-size: 15px;
}

.searchbar:hover{
   background-color: var(--color4);
}

.searchbar:hover::placeholder{
   color: #000;
}

.searchbar:focus::placeholder{
   color: var(--color4);
}
.contenedor-select {	
   border:none;
   height:30px;
   overflow: hidden;
   width: 230px;
   position:relative;
}

.contenedor-select select {
   cursor: pointer;
   font-family: var(--titulos);
   color: #fff;
   background: var(--color2);
   border: none;
   font-size: 14px;
   height: 30px;
   padding: 5px;
   width: 250px;
   transition:.25s all ease;
}

.contenedor-select select:focus{
   outline: none;
}

.contenedor-select::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	background-color:var(--color4);
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
   color: #000;
   transition:.25s all ease;
}

.contenedor-select:hover:after{
   color: #fff;
   background-color: var(--color2);
}

.contenedor-select select:hover {
   color: #000;
   background-color: var(--color4);
}

option:checked{
   background-color: var(--color2);
}

.btn-nuevo-cliente{
   margin: 24px;
   padding: 8px;
   border: none;
   border-radius: 10px;
   background-color: var(--color2);
   box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .5);
   font-family: var(--titulos);
   color: #fff;
   font-size: 20px;
   cursor: pointer;
   transition:.25s all ease;
}

.btn-nuevo-cliente:hover{
   background-color: var(--color4);
   box-shadow: none;
   color: #000;
}

.contenedor-clientes{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, .5);
}

.contenedor-clientes div{
   display: flex;
   text-align: center;
   font-family: var(--texto);
   font-weight: 900;
   font-size: 18px;
   transition:.25s all ease;
}

.contenedor-clientes div:nth-child(1){
   background-color: #F2B705 !important;
   font-family: var(--titulos) !important;
   color: #fff !important;
}

.contenedor-clientes div:nth-child(odd){
   background-color: var(--color4);
}

.contenedor-clientes div:nth-child(even){
   background-color: var(--color3);
}

.contenedor-clientes div:nth-child(odd):hover,
.contenedor-clientes div:nth-child(even):hover{
   background-color: var(--color2);
   color: #fff;
}

.contenedor-clientes p,
.contenedor-clientes div div,
.contenedor-clientes h4{
   margin: 0;
   height: 50px;
   line-height: 50px;
   width: 100px;
   border: 1px solid rgba(0, 0, 0, .1);
   overflow: hidden;
}

.contenedor-clientes p:nth-child(2),
.contenedor-clientes p:nth-child(4),
.contenedor-clientes h4:nth-child(2),
.contenedor-clientes h4:nth-child(4){
   width: 300px;
}

.contenedor-clientes button{
   cursor: pointer;
   border: none;
   margin: 0;
   width: 100%;
   background-color: var(--color1);
   color: #fff;
   font-family: var(--titulos);
   transition:.25s all ease;
}

.contenedor-clientes div div button:hover{
   background-color: var(--color4);
   color: #000;   
}


.contenedor-overlay{
   position: absolute;
   width: 100%;
   min-height: 100vh;
   display: none;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, .5);
   top: 0;
   transition:.25s all ease;
}

.open-overlay{
   display: flex;
}

.alert,
.alert-options {
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 30%;
   height: 20vh;
   border-radius: 20px;
   background-color: var(--color4);
}

.alert-options h3,
.alert h3{
   font-family: var(--titulos);
    color: #fff;
    font-size: 30px;
}

.alert-options button{
   cursor: pointer;
   border: none;
   width: 100px;
   height: 30px;
   font-family: var(--titulos);
   border-radius: 10px;
   font-size: 20px;
}

.alert-options button:hover{
   box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .5);
}

.alert-options button:nth-child(1){
   background-color: red;
}

.alert-options button:nth-child(2){
   background-color: var(--color1);
   color: #fff;
}

.contenedor-btn-cancel{
   display: flex;
   width: 80%;
   justify-content: flex-end;
}

.btn-cancel{
   width: 50px !important;
   background-color: var(--color5) !important;
}


/* /////// */
/* Formularios post y edit */
/* /////// */

.contenedor-formulario{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 12px;
   color: #fff;
   height: 90vh;
   width: 50%;
   background-color: var(--color1);
   box-shadow:0px 0px 50px 5px rgba(0, 0, 0, 0.9);
   border-radius: 50px;
}

.form-edit{
   gap: 0px;
}

.contenedor-formulario label{
   margin: 0;
   padding: 0;
   font-family: var(--titulos);
}

.contenedor-formulario input{
   border-radius: 20px;
   width: 50%;
   height: 40px;
   border: none;
   font-family: var(--texto);
   font-weight: 900;
   font-size: 18px;
   text-align: center;
}

.contenedor-formulario input:hover{
   background-color: var(--color4);
}

.contenedor-formulario input:focus{
   border: none;
   color: #000;
   background-color: var(--color4);
   font-family: var(--texto);
   font-weight: 900;
   font-size: 20px;
   outline: none;
}
.contenedor-formulario input::placeholder{
   text-align: center;
   color: rgba(0, 0, 0, .5);
   font-family: var(--texto);
   font-weight: 900;
   font-size: 20px;
}

#input-fecha{
   border-radius: 20px;
   width: 20%;
   height: 40px;
}

.contenedor-check{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.contenedor-check p{
   margin: 0;
   padding: 0;
}

.contenedor-check label{
   display: flex;
   justify-content: center;
   align-items: center;
}

.contenedor-check input {
   width: 10px;
   height: 10px;
}

.contenedor-juridica{
   width: 100%;
   display: none;
   flex-direction: column;
   align-items: center;
   gap: 12px;
}

.activo{
   display: flex;
}

.warning-input{
border: 2px solid red !important;
}

.successful-input{
   border: 2px solid greenyellow !important;
}

.warning{
   margin: 0;
   padding: 0;
   color: red;
   display: none;
}

.warning-activo{
   display: block;
}


.btn-form{
   background-color: var(--color3);
   width: 30%;
   height: 40px;
   border-radius: 10px;
   border: none;
   box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .5);
   font-family: var(--texto);
   font-size: 25px;
   font-weight: 900;
   color: #fff;
   cursor: pointer;
}

.btn-edit{
   margin-top: 12px;
}
.btn-form:hover{
   background-color: var(--color2);
   box-shadow: none;
}
/* /////// */
/* overlay alert */
/* /////// */

.contenedor-alert{
   position: absolute;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.8);
   display: none;
}

.alert button{
   cursor: pointer;
   background-color: var(--color5);
   border: none;
   height: 30px;
   width: 30%;
   border-radius: 10px;
   color: #fff;
   font-family: var(--texto);
   font-size: 25px;
   font-weight: 900;
   box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .5);
}

.alert button:hover{
   background-color: var(--color1);
   box-shadow: none;
}

/* /////// */
/* btn overlay off */
/* /////// */

.contenedor-btn-overlay-off{
   display: flex;
   justify-content: flex-end;
   width: 80%;
}

.contenedor-btn-overlay-off button{
   cursor: pointer;
   font-family: var(--titulos);
   font-size: 25px;
   background-color: var(--color5);
   width: 40px;
   height: 40px;
   border: none;
   border-radius: 50%;
   box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .5);
}

.contenedor-btn-overlay-off button:hover{
   background-color: var(--color4);
   box-shadow: none;
   color: #fff;
}